<div style="text-align:center;" class="header">
  <nav class="navbar navbar-default">
      <div class="container-fluid" style="text-align:center;">
          <div class="navbar-header" style="width: 100%;text-align:center;">
                <div style="text-align:center;">     
                    <img class="logo" src="/assets/webjet-movies-logo.jpg" />                  
                </div>  
                <div>     
                    <ul class="nav navbar-nav">
                        <li><a class="link" routerLink="/home">Home</a></li>                                  
                    </ul>                  
                </div>           
          </div>            
      </div>
  </nav>    
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>