.header {
    background-color: white;
    color: darkolivegreen;
}

a {
    color: white;
}

.logo {
    text-align: center;
    display: block;
    margin: auto;

    height: 150px;
    max-height: 100%;

    width: 200px;
    max-width: 100%;
}

.link {
    color: darkolivegreen;    
}